
@{
    ViewData["Title"] = "Enta200";
}

    <main id="b_mainContent" role="main">
        <div class="header-image" style="background-image:url('@Url.Content("~/images/enta200/enta200_cover.jpg")');
             background-repeat:no-repeat;
             background-size:cover;
             background-position:bottom;
             background-attachment:fixed;">
            <div class="text-container">
                <h1 class="headlinesmall">enta200 <br> Стильно, комфортно, эффективно</h1>
            </div>
        </div>
        <div class="csc-default">
            <div style="background-color:#00a0f0; height:75px; margin-top:-36px;">
                <h3 style="color:white; display: inline-block; left: 25px; position:absolute;">  enta 200</h3>
                <a class="brochure_button" href="~/files/enta200/Enta200.pdf" target="_blank">Брошюра</a>
            </div>
        </div>
        <div class="container b_container-mainContent">
            <div class="row">
                <div class="col-md-24 col-xs-24">
                    <div class="b_content b_content-mainContent">
                        <div class="row b_row-content">
                            <div class="col-xs-24">
                                <div class="csc-default">
                                    <div class="row b_row-multicolumn b_row-multicolumn-3">
                                        <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                            <div class="csc-default">
                                                <h2 class="small">Макс. высота</h2>
                                                <p>40m</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-8">
                                            <div class="csc-default">
                                                <h2 class="small">Макс. скорость</h2>
                                                <p>1.5m/s</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                            <div class="csc-default">
                                                <h2 class="small">Макс. грузоподъёмность</h2>
                                                <p>1,200kg</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2 style="text-align:center;">Области применения</h2>
                                    <div id="apps">
                                        <div class="hotels"><span>Гостиницы</span></div>
                                        <div class="office"><span>Офисные здания</span></div>
                                        <div class="shop"><span>Магазины</span></div>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2 style="text-align:center;">Производительный лифт для малоэтажных зданий</h2>
                                    <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                        Благодаря своим компактным размерам и конструкции кабины премиум-класса
                                        enta200 представляет собой лифт без машинного помещения, идеально подходящий
                                        для малоэтажных зданий премиум-класса. В жилом или коммерческом здании enta200
                                        порадует пассажиров отличным дизайном и передовыми функциями, придав зданию
                                        достойную премиальность.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-image" style="background-image:url('@Url.Content("~/images/enta200/title_image.jpg")');
             background-repeat:no-repeat;
             background-size:cover;
             background-position:bottom;
             background-attachment:fixed;
             height: 450px;">
            <div class="text-container">
                <h1 class="headlinesmall">Подчеркните премиум-класс вашего здания</h1>
            </div>
        </div>
        <div class="container b_container-mainContent">
            <div class="row">
                <div class="col-md-24 col-xs-24">
                    <div class="b_content b_content-mainContent">
                        <div class="row b_row-content">
                            <div class="col-xs-24">
                                <div class="csc-default">
                                    <h2 style="text-align:center;">Последние тенденции дизайна для вашего здания</h2>
                                    <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                        Наша команда опытных корейских дизайнеров изучила последние тенденции в дизайне
                                        интерьера, чтобы предложить вам целый ряд высококачественных кабин, которые
                                        подчеркнут вашу приверженность стилю и премию вашего здания. Высококачественные
                                        материалы, тщательно продуманные узоры и текстуры объединяются в шесть
                                        дизайнерских пакетов, чтобы идеально соответствовать стилю вашего здания.
                                    </p>
                                    <div class="grid_row">
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_1.jpg" />
                                            <h2 class="grid_description">Firenze</h2>
                                        </div>
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_2.jpg" />
                                            <p class="grid_description">
                                                Вдохновленные горизонтом Флоренции, теплые терракотовые тона сочетаются с абстрактными
                                                геометрическими узорами, представляя городские крыши под звездным небом.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="grid_row">
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_3.jpg" />
                                            <p class="grid_description">
                                                Современная роскошь, смешивание привлекательной современной роскоши и классической
                                                элегантности.
                                            </p>
                                        </div>
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_4.jpg" />
                                            <h2 class="grid_description">Bellagio</h2>
                                        </div>
                                    </div>
                                    <div class="grid_row">
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_5.jpg" />
                                            <h2 class="grid_description">Inca</h2>
                                        </div>
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_6.jpg" />
                                            <p class="grid_description">Изысканные золотые оттенки и сложные узоры пробуждают чувство истории и роскоши.</p>
                                        </div>
                                    </div>
                                    <div class="grid_row">
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_7.jpg" />
                                            <p class="grid_description">Гладкий, динамичный и монохромный, воплощение столичного стиля и успеха</p>
                                        </div>
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_8.jpg" />
                                            <h2 class="grid_description">Manhattan</h2>
                                        </div>
                                    </div>
                                    <div class="grid_row">
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_9.jpg" />
                                            <h2 class="grid_description">Venice</h2>
                                        </div>
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_10.jpg" />
                                            <p class="grid_description">
                                                Блюзовый спарклайн и перламутр сочетаются с серебристо-серыми элементами,
                                                напоминающими о палаццо и водах городских каналов.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="grid_row">
                                        <div class="grid_column_big">
                                            <img src="~/images/enta200/grid/grid_11.jpg" />
                                            <p class="grid_description">
                                                Черпая вдохновение из столицы итальянского стиля и дизайна, прекрасно сочетаются
                                                успокаивающие текстуры и простые геометрии.
                                            </p>
                                        </div>
                                        <div class="grid_column_small">
                                            <img src="~/images/enta200/grid/grid_12.jpg" />
                                            <h2 class="grid_description">Milano</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container b_container-mainContent">
            <div class="row">
                <div class="col-md-24 col-xs-24">
                    <div class="b_content b_content-mainContent">
                        <div class="row b_row-content">
                            <div class="col-xs-24">
                                <div class="csc-default">
                                    <p style="text-align:center; padding:30px 100px 60px 100px;font-size: 20px;">
                                        Посмотрите на наши премиальные каюты, как если бы вы были в них. Изучите каждую деталь,
                                        увеличьте масштаб, чтобы полюбоваться узорами и материалами, и представьте, как наш дизайн
                                        может подчеркнуть достоинства вашего здания.
                                    </p>
                                </div>
                                <div class="flx-embed"><div style="position:relative; height:0; padding-bottom:55.25%; width:100%"><iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://customer.tkek.co.kr/marketing/enta200/" frameborder="0" allowfullscreen></iframe></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="header-image" style="background-image:url('@Url.Content("~/images/enta200/title_image_buttonclick.jpg")');
             background-repeat:no-repeat;
             background-size:cover;
             background-position:bottom;
             background-attachment:fixed;
             height: 450px;">
            <div class="text-container">
                <h1 class="headlinesmall">Обеспечьте стильные впечатления</h1>
            </div>
        </div>
        <div class="container b_container-mainContent">
            <div class="row">
                <div class="col-md-24 col-xs-24">
                    <div class="b_content b_content-mainContent">
                        <div class="row b_row-content">
                            <div class="col-xs-24">
                                <div class="csc-default">
                                    <div class="csc-default">
                                        <h2 style="text-align:center;">Обеспечьте стильные впечатления</h2>
                                        <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                            С момента, когда входят в вестибюль, и до момента, когда выходят из лифта, enta200
                                            обеспечивает стильное впечатление для всех пассажиров. С первоклассными
                                            взаимодействиями, встроенной безопасностью и комфортной атмосферой вы
                                            обязательно создадите позитивное настроение у посетителей вашего здания.
                                        </p>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2>Тщательно изготовленные индикации</h2><br />
                                    <div class="iframeContainer">
                                        <div class="iframeBlocker"></div>
                                        <div class="flx-embed"><div style="position:relative; height:0; padding-bottom:31.58%; width:100%"><iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://media.flixel.com/cinemagraph/1e351orq1c0xcgz1vl1s?hd=false" frameborder="0" allowfullscreen allow='autoplay'></iframe></div></div>
                                    </div>
                                    <div class="csc-default">
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Яркий LCD дисплей</strong><br />
                                            Новый цветной ЖК-дисплей, ориентированный на удобство использования, облегчает чтение информации. Изображение
                                            движется в направлении лифта, чтобы придать «визуальный смысл» движению.
                                        </p>
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Панель управления премиум-класса</strong><br />
                                            Панель управления премиум-класса из нескольких материалов.
                                        </p>
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Мощный динамик</strong><br />
                                            Мощный динамик за премиальной металлической пластиной.
                                        </p>
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Простота в пользовании</strong><br />
                                            Кнопки панели управления тщательно спроектированы и расположены
                                            таким образом, чтобы облегчить использование наших лифтов.
                                        </p>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2>Безопасность</h2>
                                    <div class="row b_row-multicolumn b_row-multicolumn-12">
                                        <div class="col-xs-24 col-sm-12 b_is-firstColumn">
                                            <div class="csc-default">
                                                <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                                    <strong>Световая завеса безопасности двери</strong><br />
                                                    При пересечении пассажиром или каким-либо предметом пути световой завесы двери, двери автоматически
                                                    открываются, обеспечивая безопасность пассажира.
                                                </p>
                                                <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                                    <strong>Безопасность при землятрясении</strong><br />
                                                    Система предотвращения землетрясений автоматически переводит лифт в безопасный режим работы
                                                    при первых признаках землетрясения.
                                                </p>
                                                <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                                    <strong>LED подсветка порогов</strong><br />
                                                    Светодиодные подсветки дверных порогов в холлах освещают прибытие и закрытие дверей, дополняя индикацию и гонг для
                                                    большей ясности. Интеллектуальные объявления в кабинах настраиваются, чтобы четко и спокойно сообщать о состоянии
                                                    кабины.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 b_is-lastColumn">
                                            <div class="csc-default">
                                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                        <div class="csc-textpic-center-outer">
                                                            <div class="csc-textpic-center-inner">
                                                                <figure class="csc-textpic-image csc-textpic-last">
                                                                    <img class="b_image" src="~/images/enta200/enta_second.jpg">
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="csc-default">
                                    <h2>Чистая поездка</h2><br />
                                    <div class="flx-embed"><div style="position:relative; height:0; padding-bottom:31.58%; width:100%"><iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://media.flixel.com/cinemagraph/czjhcccqo1jqp9mlchjr?hd=false" frameborder="0" allowfullscreen allow='autoplay'></iframe></div></div>
                                    <div class="csc-default">
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Более чистый воздух</strong><br />
                                            enta200 включает в себя очиститель воздуха, чтобы воздух в салоне оставался свежим и чистым
                                            даже во время загрязнения.
                                        </p>
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Защитите окружающую среду от бактерий</strong><br />
                                            Встроенный воздухоочиститель оснащен мощным фильтром для улавливания бактерий и вирусов
                                            для обеспечения здорового воздуха для пассажиров.
                                        </p>
                                        <p style="border-left:2px solid #00a0f0; padding-left:25px;">
                                            <strong>Антибактериальный материал</strong><br />
                                            Наш enta200 обладает антибактериальными свойствами: кнопки управления, панели и приспособления могут быть покрыты
                                            нанокерамическим покрытием. А с нашей умной Smart панелью управления пассажир может получить доступ к нужному
                                            пэтажу, просто проведя пальцем по своей карте доступа или телефону, избегая любого контакта.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="csc-default" id="c12230">
            <div class="b_startpage-imageGallery bJS_startpage-imageGallery b_imageGallery-paging">
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/enta200/first.png")')">
                    <div class="b_startpage-imageGallery-desc">
                        <div class="b_imageTitle">
                            <h1 class="b_large">Новое семейство лифтов Synergy</h1>
                        </div>
                        <div class="b_imageSubline">
                            <p>Узнайте больше о новом поколении пассажирских лифтов Synergy</p>
                        </div>
                    </div>
                </div>
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/enta200/first.png")')">
                    <div class="b_startpage-imageGallery-desc">
                        <div class="b_imageTitle">
                            <h1 class="b_large">Новое семейство лифтов Synergy</h1>
                        </div>
                        <div class="b_imageSubline">
                            <p>Узнайте больше о новом поколении пассажирских лифтов Synergy</p>
                        </div>
                    </div>
                </div>
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/enta200/first.png")')">
                    <div class="b_startpage-imageGallery-desc">
                        <div>
                            <h1 class="b_large">Новое семейство лифтов Synergy</h1>
                        </div>
                        <div>
                            <p>Узнайте больше о новом поколении пассажирских лифтов Synergy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </main>

<style>
    .brochure_button:hover {
        background: #003c7d;
        color: white;
        right: 25px;
    }

    .brochure_button {
        position: absolute;
        right: 15px;
        background: #ffb400;
        margin-top: 15px;
        padding: 10px;
        color: white;
    }

    #apps {
        clear: both;
        margin: 1em 0 0.875em;
        text-align: center;
        overflow: hidden;
    }

    .hotels {
        background-image: url('../images/shared/hotel.png');
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }

    .office {
        background-image: url('../images/shared/office.png');
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }

    .shop {
        background-image: url('../images/shared/shopping_mall_.png');
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }

    #apps div {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 120px 80px;
    }

        #apps div:hover {
            color: #33b3f7;
            text-decoration: underline;
            cursor: pointer;
        }

    #apps span {
        color: #00a0f0;
        position: absolute;
        left: -45px;
        height: 3em;
        width: 130px;
        bottom: -5em;
    }

    #apps div:hover span {
        color: #33b3f7;
        text-decoration: underline;
    }

    .grid_row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

        .grid_row div {
            padding: 0 4px;
        }

    .grid_column_small {
        -ms-flex: 30%; /* IE10 */
        flex: 30%;
        max-width: 30%;
        position: relative;
    }

    .grid_column_big {
        -ms-flex: 70%; /* IE10 */
        flex: 70%;
        max-width: 70%;
        position: relative;
    }

    .grid_column_small img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        height: 400px;
    }

    .grid_column_big img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        height: 400px;
    }

    .grid_description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 80%;
        color: white;
        margin: 0 4px 0 4px;
        padding: 0 0 0 20px;
        background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .2) 15%, #000);
    }

    @@media screen and (max-width: 600px) {
        .grid_column_small {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }

        .grid_column_big {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
</style>  