@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["MainTitle"];
}

<main id="b_mainContent-startpage" role="main">
    <div class="">
        <div class="csc-default" id="c12230">
            <div class="b_startpage-imageGallery bJS_startpage-imageGallery b_imageGallery-paging">
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/mainpage/newgenerationSynergy.jpg")')">
                    <a asp-area="" asp-controller="Home" asp-action="Synergy200">
                        <div class="b_startpage-imageGallery-desc">
                            <div class="b_imageTitle">
                                <h1 class="b_large">@localizer["SynergyElevatorsHeader"]</h1>
                            </div>
                            <div class="b_imageSubline">
                                <p>@localizer["SynergyElevatorsMore"]</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/mainpage/thyssenkrupp-velino-min.jpg")')">
                    <a asp-area="" asp-controller="Home" asp-action="Velino">
                        <div class="b_startpage-imageGallery-desc">
                            <div class="b_imageTitle">
                                <h1 class="b_large">@localizer["VelinoHeader"]</h1>
                            </div>
                            <div class="b_imageSubline">
                                <p>@localizer["VelinoMoreInfo"]</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/mainpage/H300.jpg")')">
                    <a asp-area="" asp-controller="Home" asp-action="H300">
                        <div class="b_startpage-imageGallery-desc">
                            <div class="b_imageTitle">
                                <h1 class="b_large">@localizer["AvailabilityHeader"]</h1>
                            </div>
                            <div class="b_imageSubline">
                                <p>@localizer["AvailabilityMore"]</p>
                            </div>
                        </div>
                    </a>
                </div>
                @*<div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/mainpage/newgenerationSynergy.jpg")')">
                    <a href="#">
                        <div class="b_startpage-imageGallery-desc">
                            <div class="b_imageTitle">
                                <h1 class="b_large">Новое семейство лифтов Synergy</h1>
                            </div>
                            <div class="b_imageSubline">
                                <p>Узнайте больше о новом поколении пассажирских лифтов Synergy</p>
                            </div>
                        </div>
                    </a>
                </div>*@
                @*<div class="b_startpage-imageGallery-item" style="background-image:url('@Url.Content("~/images/mainpage/newgenerationSynergy.jpg")')">
                    <a href="#">
                        <div class="b_startpage-imageGallery-desc">
                            <div class="b_imageTitle">
                                <h1 class="b_large">Новое семейство лифтов Synergy</h1>
                            </div>
                            <div class="b_imageSubline">
                                <p>Узнайте больше о новом поколении пассажирских лифтов Synergy</p>
                            </div>
                        </div>
                    </a>
                </div>*@
            </div>
        </div>
        <div class="csc-default" id="c7469">
            <div class="imageTeaserStartPage">
                <div class="row">
                    <div class="col-md-12">
                        <div class="teaserImageItem teaserImageItemBig">
                            <a href="#">
                                <img alt="Оборудование" height="1190" src="~/images/mainpage/newinstallation.jpg" title="Оборудование" width="1870">
                                <div class="teaserImageTitle">
                                    <span class="headline">@localizer["EquipmentHeader"]</span>
                                    <span class="subline">@localizer["EquipmentInfo"]</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="teaserImageItem">
                                    <a asp-area="" asp-controller="Home" asp-action="Service">
                                        <img alt="Сервис" height="782" src="~/images/mainpage/service_new.jpg" title="Сервис" width="920">
                                        <div class="teaserImageTitle">
                                            <span class="headline">@localizer["Service"]</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="teaserImageItem">
                                    <a href="#">
                                        <img alt="Модернизация" height="782" src="~/images/mainpage/modernisation2.jpg" title="Модернизация" width="920">
                                        <div class="teaserImageTitle">
                                            <span class="headline">@localizer["Modernization"]</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 abs">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="teaserImageItem">
                                    <a asp-area="" asp-controller="Home" asp-action="Planning">
                                        <img alt="Инструменты для проектирования" height="782" src="~/images/mainpage/perspective.jpg" title="Инструменты для проектирования" width="920">
                                        <div class="teaserImageTitle">
                                            <span class="headline">@localizer["DesignTools"]</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="teaserImageItem">
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                                        <img alt="Наши контакты" height="782" src="~/images/mainpage/ukrainemap.jpg" title="Наши контакты" width="920">
                                        <div class="teaserImageTitle">
                                            <span class="headline">@localizer["OursContacts"]</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="teaserImageItem teaserImageItemBig">
                            <a asp-area="" asp-controller="Home" asp-action="About">
                                <img alt="О компании" height="1190" src="~/images/mainpage/aboutcompany.jpg" title="О компании" width="1870">
                                <div class="teaserImageTitle">
                                    <span class="headline">@localizer["AboutUs"]</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    @@media (min-width: 500px) {
        .pJS_home #mainNav > li > a {
            color: white !important;
        }
    }
</style>>